<div class="er-dashboard">

  <!-- Encabezado -->

  <div class="er-page-header">

    <div>
      <h1 class="er-page-title">
        Dashboard General
      </h1>

      <p class="er-page-subtitle">
        Bienvenido nuevamente a ElectroReserve.
      </p>
    </div>

    <button class="er-btn-primary">
      <i class="fa-solid fa-plus"></i>
      Nueva Reserva
    </button>

  </div>

  <!-- Tarjetas -->

  <div class="er-stats-grid">

   <div class="er-stat-card">

    <div class="er-stat-header">

        <div class="er-stat-icon">
            <i class="fa-solid fa-location-dot"></i>
        </div>

        <span class="er-growth positive">
            <i class="fa-solid fa-arrow-trend-up"></i>
            +{{ resumen.sitiosMes }}
        </span>

    </div>

    <span>Total Sitios</span>

    <strong>{{ resumen.totalSitios }}</strong>

</div>
   <div class="er-stat-card">

    <div class="er-stat-header">

        <div class="er-stat-icon">
            <i class="fa-solid fa-bed"></i>
        </div>

        <span class="er-growth positive">
            <i class="fa-solid fa-arrow-trend-up"></i>
            +{{ resumen.alojamientosMes }}
        </span>

    </div>

    <span>Alojamientos</span>

    <strong>{{ resumen.totalAlojamientos }}</strong>

</div>
   <div class="er-stat-card">

    <div class="er-stat-header">

        <div class="er-stat-icon">
            <i class="fa-solid fa-calendar-check"></i>
        </div>

        <span class="er-growth positive">

            <i class="fa-solid fa-arrow-trend-up"></i>

            {{ resumen.porcentajeReservasMes }}%

        </span>

    </div>

    <span>Reservas</span>

    <strong>{{ resumen.totalReservas }}</strong>

</div>

  <div class="er-stat-card">

    <div class="er-stat-header">

        <div class="er-stat-icon">
            <i class="fa-solid fa-sack-dollar"></i>
        </div>

        <span class="er-growth positive">

            <i class="fa-solid fa-arrow-trend-up"></i>

            {{ resumen.porcentajeIngresosMes }}%

        </span>

    </div>

    <span>Ingresos del Mes</span>

    <strong>

        {{ resumen.ingresosMes | currency:'COP':'symbol':'1.0-0' }}

    </strong>

</div>
  </div>

  
<div class="row mt-4">

  <div class="col-lg-8">
    <div class="er-card p-4">
      <h5>
        <i class="fa-solid fa-chart-column"></i>
        Reservas Mensuales
      </h5>

    <div style="height: 320px;">
  <canvas
    baseChart
    [data]="barChartData"
    [options]="barChartOptions"
    [type]="'bar'">
  </canvas>
</div>
    </div>
  </div>


    <div class="er-card p-4 h-100">
      <h5>
  <i class="fa-solid fa-circle-info"></i>
  Resumen Operativo
</h5>

<div class="er-mini-grid">

  <div class="er-mini-card warning">
    <i class="fa-solid fa-clock"></i>
    <span>Pendientes</span>
    <strong>{{ resumen.reservasPendientes }}</strong>
  </div>

  <div class="er-mini-card success">
    <i class="fa-solid fa-circle-check"></i>
    <span>Confirmadas</span>
    <strong>{{ resumen.reservasConfirmadas }}</strong>
  </div>

  <div class="er-mini-card info">
    <i class="fa-solid fa-right-to-bracket"></i>
    <span>Llegadas</span>
    <strong>{{ resumen.llegadasHoy }}</strong>
  </div>

  <div class="er-mini-card orange">
    <i class="fa-solid fa-right-from-bracket"></i>
    <span>Salidas</span>
    <strong>{{ resumen.salidasHoy }}</strong>
  </div>

</div>>
    </div>


</div>
  <!-- Dos columnas -->

  <div class="row mt-4">

    <!-- Últimas Reservas -->

    <div class="col-lg-6">

      <div class="er-card p-4">

        <h5>

          <i class="fa-solid fa-clock-rotate-left"></i>

          Últimas Reservas

        </h5>

        <table class="table mt-3">

          <thead>

            <tr>

              <th>Huésped</th>

              <th>Sitio</th>

              <th>Estado</th>

            </tr>

          </thead>

          <tbody>

            <tr *ngFor="let reserva of ultimasReservas">

              <td>{{ reserva.huesped }}</td>

              <td>{{ reserva.sitio }}</td>

              <td>

              <span
  class="er-status"
  [ngClass]="{
    'pending': reserva.estado === 'Pendiente',
    'confirmed': reserva.estado === 'Confirmada',
    'cancelled': reserva.estado === 'Cancelada'
  }">
  {{ reserva.estado }}
</span>
              </td>

            </tr>

          </tbody>

        </table>

      </div>

    </div>

    <!-- Próximas Llegadas -->

    <div class="col-lg-6">

      <div class="er-card p-4">

        <h5>

          <i class="fa-solid fa-plane-arrival"></i>

          Próximas Llegadas

        </h5>

        <table class="table mt-3">

          <thead>

            <tr>

              <th>Huésped</th>

              <th>Alojamiento</th>

              <th>Fecha</th>

            </tr>

          </thead>

          <tbody>

            <tr *ngFor="let llegada of proximasLlegadas">

              <td>{{ llegada.huesped }}</td>

              <td>{{ llegada.alojamiento }}</td>

              <td>

                {{ llegada.fechaLlegada |

                date:'dd/MM/yyyy' }}

              </td>

            </tr>

          </tbody>

        </table>

      </div>

    </div>

  </div>

</div>