<div class="layout-container">

  <aside class="sidebar">

    <h3>Sistema Reservas</h3>

    <ul>

      <li>
        <a routerLink="/dashboard">
          Dashboard
        </a>
      </li>

      <li>
        <a routerLink="/sitios">
          Sitios
        </a>
      </li>

      <li>
        <a routerLink="/alojamientos">
          Alojamientos
        </a>
      </li>

      <li>
        <a routerLink="/tarifas">
          Tarifas
        </a>
      </li>

      <li>
        <a routerLink="/temporadas">
          Temporadas
        </a>
      </li>

      <li>
        <a routerLink="/reservas">
          Reservas
        </a>
      </li>

      <li>
        <a href="#">
          Cerrar Sesión
        </a>
      </li>

    </ul>

  </aside>

  <main class="content">

    <router-outlet></router-outlet>

  </main>

</div>