:root{

    --er-primary:#2563EB;
    --er-primary-light:#DBEAFE;

    --er-success:#10B981;
    --er-success-light:#ECFDF3;

    --er-warning:#F59E0B;
    --er-warning-light:#FFF8E6;

    --er-danger:#EF4444;
    --er-danger-light:#FEE2E2;

    --er-info:#0EA5E9;
    --er-info-light:#E0F2FE;

    --er-background:#F8FAFC;

    --er-surface:#FFFFFF;

    --er-border:#E5E7EB;

    --er-text:#111827;

    --er-muted:#6B7280;

}